<!DOCTYPE html>
<html lang="jp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:type" content="website" />
    
    <meta property="fb:app_id" content="2223149394638612" />
    
    <meta name="twitter:site" content="@toy_labo" />
    <meta name="twitter:card" content="summary_large_image" />
    <%= @ogp_meta %>
    <title>結果！</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <img src="../img/logo.png" alt="magicBlock">
        </div>
        <div id="contents">
            <div id="title">
                <div class="name"><%= @player.name %></div>さんのゲーム結果
            </div>
            <div class="result vr">
                <div class="img-container">
                    <img src="../img/<%= @chara_VR %>.png" alt="<%= @chara_VR_JPN %>">
                </div>
                <div class="text">
                    Score <%= @player.scoreVR %><br>
                    結果 <%= @result_VR %><br>
                    メッセージ<br>
                    <div class = "message-box">
                        <%= @comment_VR %>
                    </div>
                </div>
            </div>
            <div class="result two-dim">
                <div class="img-container">
                    <img src="../img/<%= @chara_2D %>.png" alt="<%= @chara_2D_JPN %>">
                </div>
                <div class="text">
                    Score <%= @player.score2D %><br>
                    結果 <%= @result_2D %><br>
                    メッセージ<br>
                    <div class ="message-box">
                        <%= @comment_2D %>
                    </div>
                </div>
            </div>
            
            <div class="overall">
                <div class="score_and_ranking">
                    Score <%= @player.total %><br>
                    当日ランキング　<%= @today_rank %>位<br>
                    全体ランキング　<%= @all_player_rank %>位<br>
                </div>
                <div class="eval">
                    落ち着きのなさ　<%= @player.restless_str %><br>
                    頑張り度       <%= @player.effort_str %>
                </div>
                <div class="last-message">
                    <%= @eval_messages %>
                </div>
            </div>
            
            <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdZLsrQ7ZOhAn4VamoCd_PSP2KhM53ZAfFUUQtH7yb0KJGMpw/viewform">アンケート</a>
            <div id="enquete">
                アンケートにご協力ください。
            </div>
            <%= @twitter_anchor %>
            <a href="http://toylabo.tech">おもちゃLABOのページはこちら</a>
        </div>
        <div id="footer">
            <p>©2018 おもちゃLABO</p>
        </div>
    </div>
</body>
</html>