<!DOCTYPE html>
<html lang="jp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="#{@name}さんのマジブロリザルト" />
    <meta property="og:url" content="http://magiblo-result.herokuapp.com/result/#{@id}" />
    <meta property="og:image" content="http://magiblo-result.herokuapp.com/#{@id}.png" />
    <meta property="og:site_name" content="マジックブロック" />
    <meta property="og:description" content="#{@name}さんの結果です！ #{@total}点取りました！!" />
    
    <meta property="fb:app_id" content="2223149394638612" />
    
    <meta name="twitter:site" content="@toy_labo" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="http://magiblo-result.herokuapp.com/#{@id}.png">

    <title>結果！</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <img src="../img/logo.png" alt="magicBlock">
        </div>
        <div id="contents">
            <div id="title">
                <div class="name"><%= @name %></div>さんのゲーム結果
            </div>
            <div class="result vr">
                <div class="img-container">
                    <img src="../img/<%= @chara_VR %>.png" alt="<%= @chara_VR_JPN %>">
                </div>
                <div class="text">
                    Score <%= @score_VR %><br>
                    結果 <%= @result_VR %><br>
                    メッセージ<br>
                    <div class = "message-box">
                        <%= @comment_VR %>
                    </div>
                </div>
            </div>
            <div class="result two-dim">
                <div class="img-container">
                    <img src="../img/<%= @chara_2D %>.png" alt="<%= @chara_2D_JPN %>">
                </div>
                <div class="text">
                    Score <%= @score_2D %><br>
                    結果 <%= @result_2D %><br>
                    メッセージ<br>
                    <div class ="message-box">
                        <%= @comment_2D %>
                    </div>
                </div>
            </div>
            
            <div class="overall">
                <div class="score_and_ranking">
                    Score <%= @total %><br>
                    当日ランキング　<%= @today_rank %>位<br>
                    鳳祭内ランキング　<%= @all_player_rank %>位<br>
                </div>
                <div class="eval">
                    落ち着きのなさ　<%= @restless_str %><br>
                    頑張り度       <%= @effort_str %>
                </div>
                <div class="last-message">
                    <%= @eval_messages %>
                </div>
            </div>
            
            <a class="button" href="./index.html">アンケート</a>
            <div id="enquete">
                アンケートにご協力ください。<br>
                アンケート後に全体のランキングがご確認いただけます。
            </div>
        </div>
        <div id="footer">
            <p>©2018 おもちゃLABO</p>
        </div>
    </div>
</body>
</html>