<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>recent</title>
</head>
<body>
    <%= will_paginate @recent_players %>

    <% @recent_players.each do |player| %>
        <p><%= player.id %></p>
        <p><%= player.name %></p>
        <%= link_to url(player.id), "結果" %>
        <hr>
    <% end %>
    
    <%= will_paginate @recent_players %>
</body>
</html>