<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=980, initial-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/list.css">
    <title>recent</title>
</head>
<body>
    <div id="main">
        <div id="header">
            <img src="../img/logo.png" alt="magicBlock">
        </div>
        <div id="contents">    
            <%= will_paginate @recent_players %>
            <% @recent_players.each do |player| %>
                <div class="player">
                    <p><%= player.id %></p>
                    <p><%= player.name %></p>
                    <%= link_to "結果", url(player.id)%>
                </div>
            <% end %> 
            <%= will_paginate @recent_players %>
        </div>
        <div id="footer">
            <p>©2018~2019 おもちゃLABO</p>
        </div>
    </div>
</body>
</html>