<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @name %>の結果</title>
</head>
<body>
    <p><%= @name %>さんのスコアは<%= @total %>でした。</p>
    <P>VR側:<%=@score_VR%>点</p>
    <P>2D側:<%=@score_2D%>点</p>
    <P>鳳祭ランキング:<%=@all_player_rank%>位</p>
    <p>当日ランキング:<%= @today_rank %>位でした！</p>
</body>
</html>